################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/InternationalPhoneExample/config
/.vs/InternationalPhoneExample/DesignTimeBuild
/.vs/InternationalPhoneExample/FileContentIndex
/.vs
/bin/Debug/net6.0
/obj
